/*estilos de boton wtsapp*/
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 0px 2px #999;
 
}
.float:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #034574;
}

.my-float {
  margin-top: 17px;
}
